*{
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS"
}

.App{
  width: 80%;
  margin: 0 auto;
  max-width: 768px;
  text-align: center;
}

img{
  cursor: pointer;
}

.yourChoice input[type="button"]{
  visibility: hidden;
  width: 0;
  height: 0;
}

label{
  margin: 10px;
}
h2,h3{
  margin-top: 12px;
}

.center img{
  width: 30px;
  height: auto;
}

.center{
  display: grid;
  grid-template-columns: 60% calc(40% - 20px);
  /* align-items: center; */
  grid-gap: 20px;
}

.center h3{
  justify-self: end;
}

.reloadBtn{
  padding: 10px;
  border:none;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 1px 1px 9px 0px #757272;
}
